@import "tailwindcss";

body {
  color: #000;
  background-color: #ffffff;
  max-width: 100vw;
  /* overflow-x: hidden; */
}

:root {
  --color-primary: #34423a;
  --color-sec: #9e9e9e;
}

@theme {
  --font-inter: "var(--font-inter)", "sans-serif";
  --color-primary: #34423a;
  --color-sec: #9e9e9e;
  --color-sec-light: #c5c5c5;
  --color-card-title: #8d9390;
  --color-service-title: #5f6538;
  --color-input: #f0f0f0;
  --color-btn: #274827;
  --color-btn-hover: #394c39;
  --color-footer-primary: #122411;
  --color-footer-sec: #34423a;
  --color-footer-light: #7e8280;
  --color-footer-light-2: #d4d4d4;
  --shadow-footer-card: 2px 4px 24px #000000a0;
  --shadow-footer-layer: 2px -4px 16px #00000030;
  --shadow-profile-image: -5px 5px 16px #00000055;
  --shadow-card: 0 0 16px #00000005;

  --color-img-bg: #f5f5f5;
  --color-project-title: #696969;

  --color-home-bg: #f9fafc;
  --color-line: #eceff2;
  /* --color-line: #ced2d6; */
  --color-accent: #8a9c00;
}

.side-heading {
  @apply font-inter text-5xl font-extrabold text-primary tracking-tight max-md:text-4xl;
}

.chip {
  @apply p-3 py-1 text-sm w-fit h-fit text-accent border border-accent/50 rounded-md max-md:text-xs;
}

.link {
  @apply font-medium text-shadow-footer-light underline underline-offset-3 decoration-zinc-400 hover:text-zinc-500 transition duration-300;
}

.contact-form-submit-button {
  transition: scale 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.header-blur {
  backdrop-filter: blur(4px);
}

/* .checkboxes{
  padding-left: 2rem;
  } */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
